

/* ------------------------------------------------------------------------------------------------------ */
/* Experimentally detected that `$paper-height = 297mm - 0.13mm` is not enough but
  `297mm - 0.15mm` is enough to avoid intervening blank pages in the PDF. */
$paper-width                = 210mm
$paper-height               = 297mm - 0.15mm
// $paper-width                = 210mm
// $paper-height               = 297mm
/* ...................................................................................................... */
// 'gutters' in typographic terms (non-printable areas) become 'paddings' in CSS:
$gutter-left                = 4.5mm
$gutter-right               = $gutter-left
$gutter-top                 = 3mm
$gutter-bottom              = 18mm
/* ...................................................................................................... */
// 'margins' in typographic terms (areas outside the main content) become 'paddings' in CSS:
$margin-left                = 15mm
$margin-right               = $margin-left
$margin-top                 = 11mm
$margin-bottom              = 5mm
/* ...................................................................................................... */
// the 'page' is the printable area; inside, flanked by the margins, is the main content area:
$page-width                 = $paper-width  - $gutter-left  - $gutter-right
$page-height                = $paper-height - $gutter-top   - $gutter-bottom
/* ...................................................................................................... */
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
$content-width              = $page-width   - $margin-left  - $margin-right
$content-height             = $page-height  - $margin-top   - $margin-bottom
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

$galley-width               = $page-width   - $margin-left  - $margin-right
$galley-height              = $page-height  - $margin-top   - $margin-bottom


/* ------------------------------------------------------------------------------------------------------ */
page
paper
galley
box
column
wrap
gap
  position:               relative

/* ------------------------------------------------------------------------------------------------------ */
artboard
  // display :               flex
  // flex-direction:         row
  // justify-content:        flex-start
  // ### TAINT: width should be so that it fills entire width either when fully zoomed out or
  // adjusted to available width on current zoom (so pages rearrange) ###
  width:                  500mm
  height:                 700mm
  // position:               absolute
  top:                    0
  left:                   0
  transform-origin:       top left
  transform:              scale( 1 )


/* ------------------------------------------------------------------------------------------------------ */
paper
  // margin:                 5mm
  float:                  left
  width:                  $paper-width
  height:                 $paper-height

/* ------------------------------------------------------------------------------------------------------ */
page
  width:                  $page-width
  height:                 $page-height
  left:                   $gutter-left
  top:                    $gutter-top

/* ------------------------------------------------------------------------------------------------------ */
galley
  width:                  $galley-width
  height:                 $galley-height
  left:                   $margin-left
  top:                    $margin-top

/* ------------------------------------------------------------------------------------------------------ */
wrap
column
  width:                  100%
  height:                 100%

/* ------------------------------------------------------------------------------------------------------ */
wrap
  display:                flex
  flex-direction:         row
  justify-content:        space-between

/* ------------------------------------------------------------------------------------------------------ */
gap
  width:                  5mm
  height:                 100%
  min-width:              5mm
  max-width:              5mm

/* ###################################################################################################### */
ribbon
  display:                none


tool
  // border:                 1px solid black
  display:                block


tool.save
  background-color:       red
tool.open
  background-color:       orange
tool.print
  background-color:       green

/* ###################################################################################################### */
.cork
  display:                none


/* ------------------------------------------------------------------------------------------------------ */
body
.paper
.page
  background-color:       white

/* ------------------------------------------------------------------------------------------------------ */
.paper
  margin:                 10mm
  width:                  $paper-width
  height:                 $paper-height
  // 'margins' in typographic terms (areas outside the main content) become 'paddings' in CSS:
  padding-left:           $gutter-left
  padding-right:          $gutter-right
  padding-top:            $gutter-top
  padding-bottom:         $gutter-bottom
  position:               relative


/* ------------------------------------------------------------------------------------------------------ */
.page
  width:                  $page-width
  height:                 $page-height
  // 'margins' in typographic terms become 'paddings' in CSS:
  padding-left:           $margin-left
  padding-right:          $margin-right
  padding-top:            $margin-top
  padding-bottom:         $margin-bottom
  margin:                 0
  position:               relative

/* ------------------------------------------------------------------------------------------------------ */
.grid
  width:                  100%
  height:                 100%
  background-color:       transparent
  position:               absolute
  top:                    0
  left:                   0

// /* ------------------------------------------------------------------------------------------------------ */
// .grid-1cm
//   background-size:        10mm 10mm
//   background-image:       repeating-linear-gradient( 0deg, $gray-grid, $gray-grid 0.5px, transparent 0.5px, transparent 10mm), repeating-linear-gradient(-90deg, $gray-grid, $gray-grid 0.5px, transparent 0.5px, transparent 10mm)

// /* ------------------------------------------------------------------------------------------------------ */
// baseline-grid( height, color )
//   background-size:        10mm 10mm
//   background-image:       repeating-linear-gradient( 0deg, color, color 0.1mm, transparent 0.1mm, transparent height)

// offset-top( dy )
//   top

/* ------------------------------------------------------------------------------------------------------ */
// .baseline-grid
//   baseline-grid           4.9mm $red
//   top:                    3mm

// .ruler
//   width:                  200mm
//   height:                 10mm
//   border:                 1px solid red

// .ruler-block
//   width:                  10mm
//   height:                 10mm
//   border:                 1px solid black
//   display:                inline-block

// #mkts-top
// #mkts-bottom
//   // position:               absolute

/* ------------------------------------------------------------------------------------------------------
 COLUMNS */


p.is-first
p.is-middle
  text-align:             justify
  text-align-last:        justify

p.is-last
p.is-lone
  text-align:             justify
  text-align-last:        left

p.is-first:after
p.is-middle:after
p.is-middle:before
p.is-last:before
  display:                none

p.is-first
p.is-middle
  margin-bottom:          0

p.is-middle
p.is-last
  margin-top:             0

h1
  -mkts-max-columns:      1

h2
  -mkts-max-columns:      2

// p.hangs-right-05ex
//   margin-right:           100% + 0.5ex


// mkts-lineprobe
// mkts-lineprobe *
//   text-align:             left !important
//   text-align-last:        left !important

#mytext p:last-child
  margin-bottom:          0
  // border: 1px solid violet
  // color: red








