
/* ------------------------------------------------------------------------------------------------------ */
@require mingkwai-colors
@require mingkwai-layout

.xbig
  font-size:              200%

.hilite
  color:                  $red

/* ====================================================================================================== */
@media print

  @page
    width:                  210mm
    height:                 297mm
    margin:                 0
    // /* you can also specify margins here: */
    // margin: 25mm;
    // margin-right: 45mm; /* for compatibility with both A4 and Letter */

  paper
    page-break-inside:      avoid
    page-break-before:      always
  //   page-break-after:       always

/* ====================================================================================================== */
@media screen

  artboard
  page
  paper
  galley
  box
  column
  wrap
  gap
    background-color:       transparent

  /* -----------------------------------------------------------------------------------------------------*/
  artboard
    background-color:       $dark-lime

  paper
    margin:                 5mm
    background-color:       $white
    outline:                1px dotted orange

  page
    // background-color:       transparent
    outline:                1px dotted red

  galley
    outline:                1px dotted green

  wrap
    outline:                1.5px dotted black
    // z-index:                -1

  box
  column
    outline:                1px dotted blue

  gap
    background-color:       $hilite
    // z-index:                -2


  /* -----------------------------------------------------------------------------------------------------*/
  .paper
    outline:                1px dotted red
    box-shadow              10px 10px 35px 0px rgba(0,0,0,0.5)

  /* -----------------------------------------------------------------------------------------------------*/
  .page
    outline:                1px dotted blue
    box-shadow              0px 0px 35px 10px rgba( 0, 0, 0, 0.5 )

  // /* -----------------------------------------------------------------------------------------------------*/
  // .mingkwai-dev-page-marker
  //   position:               absolute
  //   top:                    $margin-top  + $gutter-top
  //   left:                   $margin-left + $gutter-left
  //   width:                  $content-width
  //   height:                 $content-height
  //   outline:                1px dotted green
  //   z-index:                1
  //   /* Allow click-through;
  //     thx to http://stackoverflow.com/a/4839672/256361 */
  //   pointer-events:         none
  //   box-shadow:             inset 0px 0px 35px -10px rgba( 0, 0, 0, 0.5 )

  /* -----------------------------------------------------------------------------------------------------*/
  // body
  //   // .paper
  //   // .mingkwai-dev-page-marker
  //   // .page
  //   background-image:       url( './raster.gif' )

  /* -----------------------------------------------------------------------------------------------------*/
  body
  .paper
  .mingkwai-dev-page-marker
  .page
    // background-color:       rgba( 0, 0, 0, 0.01 )
    background-color:       transparent


  /* -----------------------------------------------------------------------------------------------------*/
  .flex-columns-wrap
    outline:                1px dotted violet


  /* ------------------------------------------------------------------------------------------------------
   UI */
  ribbon
    display:                flex

  /* ------------------------------------------------------------------------------------------------------
   COLUMNS */

  //  .focus
  //    // outline:                1px solid rgba( 200, 0, 0, 0.5 )
  //    // background-color:       rgba( 200, 0, 0, 0.25 )
  //    background:             none
  //    /* Allow click-through;
  //      thx to http://stackoverflow.com/a/4839672/256361 */
  //    pointer-events:         none
  //    width:                  10px
  //    height:                 10px
  //    z-index:                1

  #focus
    background-color:       rgba( 100, 0, 0, 0.25 )

  // .column
  //   background-color:       #dee1dd


  .test .cork
    display:                inline-block
    width:                  0
    height:                 100%
    outline:                1px solid red

  /* ------------------------------------------------------------------------------------------------------
   LWS */
  .mkts-lws
    background-color:       rgba( 100, 100, 100, 0.25 )
    // display:                inline-block

  /* ------------------------------------------------------------------------------------------------------
   KW */

  #box-a
    outline:                1px solid red

  #box-b
    outline:                1px solid green

  #box-c
    outline:                1px solid blue

  .grid
    // opacity:                0.25
    opacity:                1
    // z-index:                1

  .gridline
    position:               absolute
    // border-top:             0.75px dotted red
    outline:             0.75px dotted red

  .gridline.horizontal
    width:                  $paper-width
    height:                 0px

// .baseline-grid