

/* ------------------------------------------------------------------------------------------------------ */
artboard
page
paper
galley
box
column
wrap
gap
ribbon
tool
boxer
panel
grip
line
overlay
tabletop
  display:                block

cork
  display:                none


