



@media screen
  box
  hbox
  vbox
  ribbon
  hribbon
  vribbon
  leftmargin
  rightmargin
  topmargin
  bottommargin
  gap
  vgap
  hgap
  xhgap
    outline:                1px dotted red
    outline-offset:         -1px
    // outline-offset:         -0.5px




