




/* ---------------------------------------------------------------------------------------------------------
  BOX MODEL
  thx to http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

*
  outline-offset:         -0.5px

/* ---------------------------------------------------------------------------------------------------------
  FIXING LINE HEIGHTS / GRID
  thx to http://webdesignandsuch.com/how-to-fix-sup-sub-line-height-problem-with-css/ */
*
  vertical-align:         bottom !important

/* ---------------------------------------------------------------------------------------------------------
  MINIMAL SPACING IN TEXT
  sets word spacing to a minimum that is actually larger than zero (?) */
html
  letter-spacing:         0ex
  word-spacing:           0em

/* ---------------------------------------------------------------------------------------------------------
  LIGATURES AND KERNING
  cf. https://developer.mozilla.org/en-US/docs/Web/CSS/font-feature-settings
  http://demosthenes.info/blog/547/Make-Your-Web-Pages-More-Legible-With-Ligatures-and-Kerning-Pairs
  http://clagnut.com/sandbox/opentype/ligatures */
html
  // text-rendering:                 optimizeLegibility
  text-rendering:                 geometricPrecision
  // font-variant-ligatures:         common-ligatures
  // font-kerning:                   normal
  -webkit-font-feature-settings:  "liga" 1, "dlig" 1

  // /* https://developer.mozilla.org/en-US/docs/Web/CSS/font-variant-east-asian */
  // font-variant-east-asian: normal
  // font-variant-east-asian: ruby
  // font-variant-east-asian: jis78              /* <east-asian-variant-values> */
  // font-variant-east-asian: jis83              /* <east-asian-variant-values> */
  // font-variant-east-asian: jis90              /* <east-asian-variant-values> */
  // font-variant-east-asian: jis04              /* <east-asian-variant-values> */
  // font-variant-east-asian: simplified         /* <east-asian-variant-values> */
  // font-variant-east-asian: traditional        /* <east-asian-variant-values> */
  // font-variant-east-asian: full-width         /* <east-asian-width-values> */
  // font-variant-east-asian: proportional-width /* <east-asian-width-values> */
  // font-variant-east-asian: ruby full-width jis83








