







$red                = rgba( 130,  30,   0, 1.0 )
$blue               = rgba(   0,  23, 128, 1.0 )
$black              = rgba(   0,  0,    0, 1.0 )
$white              = rgba( 250, 250, 250, 1.0 )
$paper-white        = rgba( 240, 240, 240, 1.0 )
$background         = rgba( 220, 220, 220, 1.0 )
$brown              = rgba(  87,  62,  40, 1.0 )
$gray               = rgba( 100, 100, 100, 0.25 )
$milk               = rgba( 255, 255, 255, 0.5 )
$results-background = rgba( 100, 100,  10, 0.1 )
$hilite             = rgba( 240, 240, 130, 0.5 )
$green              = #859900
$amber              = #c09300
$gray-grid          = rgba( 100, 100, 100, 0.5 )
$slate              = rgba(  50,  50,  50, 0.9 )
$dark-lime          = #595944
// $dark-lime          = rgba( 150, 166,  12, 0.25 )

$light-yellow       = rgba( 255, 255,  89, 0.3 );
$light-red          = rgba( 250,   0,   0, 0.3 );


