


// /* ------------------------------------------------------------------------------------------------------ */
// // page
// // paper
// // galley
// tabletop
//   position:               relative
//
// /* ------------------------------------------------------------------------------------------------------ */
// tabletop
//   position:               relative
//   z-index:                -1
//   background-image:       url( "./background_linen.png" )

/* ------------------------------------------------------------------------------------------------------ */
artboard
  background-image:       url( "./background_linen_lime.png" )
  min-width:              1000mm
  padding:                50mm
  // perspective:            6000px
  // perspective-origin:     50% 0%

/* ------------------------------------------------------------------------------------------------------ */
zoomer
  overflow:               auto
  transform:              scale( 1 )
  transform-origin:       top left





