
line
  position:               absolute
  line-height:            5mm
  height:                 5mm
  min-height:             5mm
  max-height:             5mm

p
  line-height:            5mm

p:before
  /* ### NB fixed-width space used here; see e.g. https://www.cs.tut.fi/~jkorpela/chars/spaces.html. ### */
  content:                ' '
  // content:                '❡ '
  // color:                  green
  // p:after
  //   content:                '❡ '
  //   color:                  red

