



/* ------------------------------------------------------------------------------------------------------ */
overlay
  display:                none

/* =========================================================================================================
  SCREEN
--------------------------------------------------------------------------------------------------------- */
@media screen

  /* ---------------------------------------------------------------------------------------------------- */
  artboard
    position:               absolute
    background-image:       url( "./background_linen_lime.png" )
    min-width:              1000mm
    padding:                50mm

  /* ---------------------------------------------------------------------------------------------------- */
  zoomer
    overflow:               auto
    // transform:              scale( 1 )
    // transform-origin:       top left
    // position:               absolute

  /* ---------------------------------------------------------------------------------------------------- */
  overlay
    display:                block
    position:               absolute
    top:                    10mm
    left:                   10mm
    color:                  $gray
    pointer-events:         none
    font-family:            "Century Schoolbook"
    font-style:             italic
    font-weight:            bold
    font-size:              30mm



@media screen
  body
    display:                flex
    flex-direction:         column
    background-color:       $dark-lime

  ribbon
  vribbon
    display:                flex
    flex-direction:         column

  hribbon
    position:               fixed
    top:                    5mm
    left:                   5mm
    display:                flex
    flex-direction:         row
    -mkts-draggable:        xy
    resize:                 both

  .gui-console
    /* ### TAINT make resizable, hideable ### */
    width:                  100%
    height:                 50mm
    background-color:       $slate

  i.mkts-tool-hand
    font-size:                2rem // not used
    background-image:         url(./icons/mkts-tool-hand.png)
    width:                    2rem
    height:                   2rem
    background-repeat:        no-repeat
    background-size:          100%
    display:                  block

  body.cursor-default
    cursor:                   default

  body.cursor-hand
    cursor:                   url(./icons/mkts-tool-hand-cursor.png), auto

  body.grabbing
    cursor:                   url(./icons/mkts-tool-hand-grabbing-cursor.png), auto


/* materialdesign-css buttons: */
.btn
  display:                none

@media screen
  // panel
  // hpanel
  // vpanel
  //   box-shadow:             inset 5px 5px 10px 5px rgba(0,0,0,0.1);

  .btn
    display:                block
    width:                  100%
    // height:                 100%

@media print
  ribbon
  hribbon
  vribbon
    display:                none



