
@font-face
  font-family:            'Sun-ExtA';
  src:                    local( 'Sun-ExtA' );
  unicode-range: U+4e00-9fff     /* CJK Unified Ideographs                  u-cjk          */
  unicode-range: U+3400-4dbf     /* CJK Unified Ideographs Extension A      u-cjk-xa       */
  unicode-range: U+20000-2a6df   /* CJK Unified Ideographs Extension B      u-cjk-xb       */
  unicode-range: U+2a700-2b73f   /* CJK Unified Ideographs Extension C      u-cjk-xc       */
  unicode-range: U+2b740-2b81f   /* CJK Unified Ideographs Extension D      u-cjk-xd       */
  unicode-range: U+2f00-2fdf     /* Kangxi Radicals                         u-cjk-rad1     */
  unicode-range: U+2e80-2eff     /* CJK Radicals Supplement                 u-cjk-rad2     */
  unicode-range: U+3000-303f     /* CJK Symbols and Punctuation             u-cjk-sym      */
  unicode-range: U+31c0-31ef     /* CJK Strokes                             u-cjk-strk     */
  unicode-range: U+3200-32ff     /* Enclosed CJK Letters and Months         u-cjk-enclett  */
  unicode-range: U+3300-33ff     /* CJK Compatibility                       u-cjk-cmp      */
  unicode-range: U+f900-faff     /* CJK Compatibility Ideographs            u-cjk-cmpi1    */
  unicode-range: U+fe30-fe4f     /* CJK Compatibility Forms                 u-cjk-cmpf     */
  unicode-range: U+2f800-2fa1f   /* CJK Compatibility Ideographs Supplement u-cjk-cmpi2    */
  // color: red

@font-face
  font-family:            'Ampersand'
  src:                    local( 'Schwabacher' )
  unicode-range:          U+26

@font-face
  font-family:            'cjk'
  src:                    local( 'Sun-ExtA' )
  unicode-range:          U+4e00-9fff, U+3000-303f

@font-face
  font-family:            'cjk-xb'
  src:                    local( 'sunflower-u-cjk-xb' )
  unicode-range:          U+20000-2b81f

@font-face
  font-family:            'jzr'
  src:                    local( 'jizura3b' )
  unicode-range:          U+e000-f8ff
  // font-size: 200%
  // font-size-adjust: 2
  // color: red

@font-face
  font-family:            'jzr-babel'
  src:                    local( 'BabelStone Han' )
