

/* ------------------------------------------------------------------------------------------------------ */
/* GUI */
ribbon
tool
panel
grip
overlay
button // not really a custom element
/* Workspace */
tabletop
artboard
// spread
// sheet
/* Layout */
galley
paper
chase
box
column
gap
line
cork
  display:                block



